
div#edu, div#hobbies, div#learning, div#gaming, div#activities,
div#cs{
	display: none;
}

#body{
	background-color: white;
}

#menu_icon{
	height: 20px;
	width: 20px;
	margin-top: 5px;
}

#hiddendiv{
	display: none;
}

div.expand_page{
	display: block;
	position: absolute;
	background-color: white;//#80ced6;
	width: 101%;
	height: 100%;
	margin-top: -2%;
	padding-bottom: 50px;
}

ul.MenuTabs{
	border: 1px solid white;
	margin-top: 25%;
}

li.MenuTabs{
	list-style-type: none;
	text-align: center;
	font-family: "Lucida Console";
	font-size: 12px;
	font-weight: lighter;
	letter-spacing: 5px;
	padding: 20px;
}

li.MenuTabs:hover{
	font-size: 12px;
	font-weight: bold;
	//border: 2px solid black;
	color: #80ced6;
	cursor: pointer;
	transition: all ease-in-out 250ms;
}

ul.MenuTabs a{
	text-decoration: none;
}

ul.MenuTabs a:visited {
	color: black;
}

ul.MenuTabs a:link {
	color: black;
}

div.aTop{
	//height: 10%;
	width: 100%;
	border: 1px solid rgba(255,0,0,0);
	position: fixed;
	text-align: center;
	margin-left: -8px;
	
}

span.nameScroll{
	color: black;
	font-family: "Lucida Console";
	font-size: 60px;
	font-weight: 900;
	letter-spacing: 40px;
	word-spacing: 40px;
}

div.blackTop{
	color: grey;
	margin-top: 8%;
	//height: 100%;
	//width: 100%;
	border: 1px solid black;
	display: block;
	position: relative;
	background-color: black;
	margin-left: -8px;
	margin-right: -8px;
	text-align: center;
}

div.top_text{
	text-align: center;
	letter-spacing: 5px;
	font-size: 12px;
	font-family: "Lucida Console";
	font-size: 12px;
	font-weight: lighter;
	letter-spacing: 5px;
}

div.insideslash{
	display: inline-block;
	-webkit-transform:  translateY(-70%) translateX(0%) rotate(20deg);
	text-align: center;
	padding:20px;border:2px hidden white;//font-size:140%;font-weight:bold;
	color: white;
	font-family: "Lucida Console";
	font-size: 12px;
	font-weight: lighter;
	letter-spacing: 5px;
}

div.insideslash:hover{
	border: 2px solid white;
	background-color: white;
	color: black;
	cursor: default;
	transition: all ease-in-out 1000ms;
}

span.insideSpan{
	font-size: 140%;
	letter-spacing: 5px;
}

div.expandblackTop{
	background-color: black;
	border: 2px solid black;
	text-align: center;
	//width: 100%;
	margin: auto;
}

ul.expandblackTop{
	list-style-type: none;
	font-family: "Lucida Console";
	font-size: 12px;
	font-weight: lighter;
	letter-spacing: 5px;
}

div.background{
	background-image: url("pics/gsu_esports.png");
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 150px;
	background-size: 20% 55%;
	margin-top: 30%;
}

div.projects{
	display: inline-block;
	text-align: center;
	padding:20px;border:2px hidden white;//font-size:140%;font-weight:bold;
	color: white;
	font-family: "Lucida Console";
	font-size: 12px;
	font-weight: lighter;
	letter-spacing: 5px;
	border: 0.1px solid white;
}

div.projects:hover{
	border: 2px solid white;
	background-color: white;
	color: black;
	cursor: pointer;
	transition: all ease-in-out 1000ms;
}


